[submodule "inc/dbfs"]
	path = inc/dbfs
	url = git@github.com:webdeveloperukraine/dbfs.git
[submodule "inc/bplustree"]
	path = inc/bplustree
	url = git@github.com:webdeveloperukraine/BPlusTreeBase.git
[submodule "inc/logger"]
	path = inc/logger
	url = git@github.com:webdeveloperukraine/C-Logger.git
